@model IEnumerable<SD_330_F22SD_Assignment_1.Models.ListenersList>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listeners List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ListenersListId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ListenersListId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ListenersListId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
