@model SD_330_F22SD_Assignment_1.Models.Episode

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Episode</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Podcast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Podcast.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EpisodeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
