@model IEnumerable<SD_330_F22SD_Assignment_1.Models.Song>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Songs</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationSeconds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationSeconds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Title)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Add to Playlist</a> 

            </td>
        </tr>
}
    </tbody>
</table>
